table{
border-collapse: collapse;
width: 100%;
text-align: center; 
}
th{
  background-color: red;
}
th,td{
    border: 1px solid wheat;
    height: 100px;
    vertical-align: bottom;
}
span{
    font-size: 1000px;
}
