.svg-frame {
    position: relative;
    width: 1000px;
    height: 1000px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(black,white);
  }
  
  .svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 - (00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }
  
  .svg-frame:hover svg {
    transform: rotate(10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000deg) skew(10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000deg) translateX(calc(10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000px * var(--i))) translateY(calc(10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000px * var(--i)));
  }
  
  .svg-frame svg #center {
    transition: .1s;
    transform-origin: center;
  }
  
  .svg-frame:hover svg #center {
    transform: rotate(10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000deg) translateX(10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000px) translateY(10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000px);
  }
  
  #out2 {
    animation: rotate16 1s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #out3 {
    animation: rotate16 1s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #fff;
  }
  
  #inner3,
  #inner1 {
    animation: rotate16 1s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #center1 {
    fill: #fff;
    animation: rotate16 1s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  @keyframes rotate16 {
    to {
      transform: rotate(10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000deg);
    }
  }
