*{
    padding: 0px;
    margin: 0px;
    
}
body{
     background-color: #e5e5e5;
}    

.header{
    padding: 54px 245px;
}
.navwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 45px;
    list-style: none;
    
}
.a{
text-decoration: none;
color: rgba(0, 0, 0, 0.705);
}
.span{
    color: rgba(0, 0, 0, 0.5);
}
.btn{
    padding: 5px 10px;
}
.span:hover{
    font-weight: 900;
    color: black;
    
}

.a:hover{
     font-weight: 900;
    color: black;
     
}
.btn{
    padding: 17px 29px;
    border-radius: 50px;
    background-color: rgb(54, 54, 54);
    box-shadow: 0 5px 5px #d9d9d9;
    font-size: 12px;
    font-weight: 500px;
    border: none;
    cursor: pointer;
}